@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


html {
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

body {
    height: auto;
    width: 100%;
}


main {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 100%;
    max-width: 1200px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
}

table {
    width: 300px;

}

tr {
    font-family: sans-serif;
    font-size: 13px;
}

td {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container-left {
    border: 1px solid black;
    background-color: rgb(40, 40, 43);
    max-height: 400px;
    width: 450px;
    border-radius: 15px;
}

.full-content {
    background-color: rgb(40, 40, 43);
    width: 100%;
    height: auto;
    border-radius: 15px;
}



.container-right {
    border: 1px solid black;
    background-color: rgb(40, 40, 43);
    height: 100%;
    width: 100%;
    max-width: 1200px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}


h2 {
    color: white;
    font-weight: 300;
}

.border {
    height: 1px;
    width: auto;
    margin-bottom: 8px;
    background-color: rgb(229, 184, 11);
}


.content-mid {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 30px;
}



.content-main {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}



.s-login {
    color: white;
    font-family: sans-serif;
    padding-top: 8px;
    padding-bottom: 5px;
    text-align: justify;
    font-weight: 80;
    line-height: 1.5;
}

.i-login {
    width: 100%;
    height: auto;
}



.s-source {
    width: 30px;
    height: 30px;
}

.s-text {
    padding-top: 8px;
    padding-left: 5px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.p-list {
    font-family: sans-serif;
    font-size: 14px;
    margin-left: 20px;
}

h4 {
    font-family: sans-serif;
    padding-top: 15px;
    padding-bottom: 10px;
}

.main-content {
    background-color: rgb(40, 40, 43);
    width: 100vh;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
}


.contact-content {
    background-color: rgb(40, 40, 43);
    width: 100vh;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
}

.col-backend {
    width: 100%;
    color: white;
    margin-bottom: 10px;
    line-height: 1.5;
    padding-left: 10px;
}

.scroll-samping {
    overflow-x: auto;
    white-space: nowrap;
}

.pict-da {
    width: auto;
    height: 300px;
}

.pict-da-kecil {
    width: auto;
    height: auto;
}

.pict-da-panjang {
    width: 500px;
    height: 300px;
}

/* Source: alamat github*/
.source {
    display: flex;
    justify-content: baseline;
    margin-bottom: 10px;
}



/* ============================ */
@media screen and (max-width: 600px) {

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }

    nav li {
        margin-right: 5px;
    }

    nav a {
        font-size: 12px;
    }

    .isi-dropdown {
        min-width: 160px;
    }


    main {
        display: block;
        width: 100%;
        height: auto;
        padding: 15px;
    }

    .main-content {
        width: 100%;
        height: auto;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    /* ----- contact ------------ */

    .page {
        width: 100%;
    }

    .tab-contact {
        margin-left: -80px;
        width: 100%;
    }

    .contactus {
        max-width: 30px;
    }

    .contact-content {
        width: 100%;
    }


    /* --------------------------- */
    .container-left {
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .container-right {
        width: 100%;
        margin-bottom: 10px;
    }

    .project {
        display: block;
        margin-bottom: 10px;
        width: 100%;
        height: auto;
    }

    .p-project {
        width: 100%;
    }

    .text-font {
        font-size: 14px;
        line-height: 1.5;
        text-align: left;
    }


    .col-experience {
        width: 100%;
        height: auto;
        text-align: left;
    }

    .full-content {
        width: 100%;
    }

}


@media screen and (max-width: 1024px) {

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }

    nav li {
        margin-right: 5px;
    }

    nav a {
        font-size: 12px;
    }

    .isi-dropdown {
        min-width: 160px;
    }


    main {
        display: block;
        width: 100%;
        height: auto;
        padding: 15px;
    }

    .main-content {
        width: 100%;
        height: auto;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    /* ----- contact ------------ */

    .page {
        width: 100%;
    }

    .tab-contact {
        margin-left: -80px;
        width: 100%;
    }

    .contactus {
        max-width: 30px;
    }

    .contact-content {
        width: 100%;
    }


    /* --------------------------- */
    .container-left {
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .container-right {
        width: 100%;
        margin-bottom: 10px;
    }

    .project {
        display: block;
        margin-bottom: 10px;
        width: 100%;
        height: auto;
    }

    .p-project {
        width: 100%;
    }

    .text-font {
        font-size: 14px;
        line-height: 1.5;
        text-align: left;
    }


    .col-experience {
        width: 100%;
        height: auto;
        text-align: left;
    }

    .full-content {
        width: 100%;
    }

}