@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


html {
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

body {
    height: auto;
    width: 100%;
    background-color: white;
}

.thebody {
    background-color: rgb(46, 46, 46);
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 100%;
    max-width: 1200px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.main-page {
    display: block;
    padding-top: 30px;
}

.second-page {
    padding-top: 30px;
}


table {
    width: 300px;

}

tr {
    font-family: sans-serif;
    font-size: 13px;
}

td {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.container-top {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: rgb(46, 46, 46);
    height: 550px;
    width: 100%;
    margin-bottom: 125px;
}

.full-content {
    background-color: rgb(46, 46, 46);
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.container-bottom {
    background-color: rgb(46, 46, 46);
    height: auto;
    width: 100%;
    max-width: 1200px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}


h2 {
    color: white;
    font-weight: 300;
}

h3 {
    color: black;
}

/*  Border untuk Judul*/
.border {
    height: 1px;
    width: auto;
    margin-bottom: 8px;
    background-color: rgb(229, 184, 11);
}

/*  End of Border untuk Judul*/


.content-mid {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 30px;
}



.content-main {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}



.s-login {
    color: black;
    font-family: sans-serif;
    padding-top: 8px;
    padding-bottom: 5px;
    text-align: justify;
    font-weight: 80;
    line-height: 1.5;
}

.i-login {
    width: 100%;
    height: auto;
}



.s-source {
    width: 30px;
    height: 30px;
}

.s-text {
    padding-top: 8px;
    padding-left: 5px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.p-list {
    font-family: sans-serif;
    font-size: 14px;
    margin-left: 20px;
}

h4 {
    font-family: sans-serif;
    padding-top: 15px;
    padding-bottom: 10px;
}

.main-content {
    background-color: white;
    width: 100vh;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
}


.contact-content {
    background-color: white;
    width: 100vh;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
}

.col-backend {
    width: 100%;
    color: black;
    margin-bottom: 10px;
    line-height: 1.5;
    padding-left: 10px;
}

.scroll-samping {
    overflow-x: auto;
    white-space: nowrap;
}

.pict-da {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 300px;
}

.pict-da-kecil {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

.pict-da-panjang {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
}

.pict-da-normal {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    height: 130px;
}

/* Source: alamat github*/
.source {
    display: flex;
    justify-content: baseline;
    margin-bottom: 10px;
}


.stack {
    display: flex;
    justify-content: baseline;
    gap: 7px;
    width: 100%;
    border-radius: 5px;
}

.p-stack {
    font-family: "Monstreat";
    color: black;
    font-size: 14px;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(229, 184, 11);
    height: auto;
    width: auto;
    margin-bottom: 5px;
}


/* =========== HP ============== */
@media screen and (max-width: 667px) {

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }

    nav li {
        margin-right: 5px;
    }

    nav a {
        font-size: 12px;
    }

    .isi-dropdown {
        min-width: 160px;
        position: absolute;
    }

    .drop-down:hover ul.isi-dropdown {
        width: 200px;
        display: block;
        justify-content: center;
        margin-left: -100px;
    }


    main {
        display: block;
        width: 100%;
        height: auto;
        padding: 15px;
    }

    .pict-profile {
        width: 100%;
        height: 100%;
    }

    .main-page {
        width: 100%;
    }

    .container-top {
        display: block;
        height: auto;
        width: 100%;
        margin-left: 0px;
    }

    .intro {
        padding-left: 0px;
    }

    .aboutme {
        padding-left: 0px;
        height: auto;
    }

    .width-job {
        margin-left: 0px;
    }

    .bottom-profile {
        display: block;
        padding-left: 0px;
        height: auto;
    }

    .col-keterangan {
        padding-left: 0px;
    }

    .container-bottom {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
        height: auto;
        width: 100%;
    }

    .icon {
        width: 100px;
        height: 100px;
    }

    .icon-unair {
        width: 200px;
        height: 200px;
        margin-left: 55px;
    }

    .project {
        padding-left: 0px;
    }

    .education {
        display: block;
    }

    .bootcamp {
        display: block;
        height: auto;
    }

    .col-education {
        width: 100%;
        margin-left: 0px;
    }

    .university {
        display: block;
        padding-left: 0px;
    }

    .text-font {
        font-weight: 400;
    }

    .text-font2 {
        font-size: 12px;
    }

    .course-hacktiv8 {
        width: 100%;
        padding-right: 2px;
        gap: 2px;
    }

    .course-hack {
        font-size: 12px;
    }

    .main-content {
        width: 100%;
        height: auto;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    .stack {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .p-stack {
        width: auto;
        height: auto;
    }

    .p-course {
        width: auto;
    }



    /* ----- contact ------------ */

    .page {
        width: 100%;
    }

    .tab-contact {
        margin-left: -80px;
        width: 100%;
    }

    .contactus {
        max-width: 30px;
    }

    .contact-content {
        width: 100%;
    }


    /* --------------------------- */
    .container-left {
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .container-right {
        width: 100%;
        margin-bottom: 10px;
    }

    .project {
        display: block;
        margin-bottom: 10px;
        width: 100%;
        height: auto;
    }

    .p-project {
        width: 100%;
    }

    .text-font {
        font-size: 14px;
        line-height: 1.5;
        text-align: left;
    }


    .col-experience {
        width: 100%;
        height: auto;
        text-align: left;
    }

    .full-content {
        width: 100%;
    }

}


@media screen and (max-width: 1024px) {

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }

    nav li {
        margin-right: 5px;
    }

    nav a {
        font-size: 12px;
    }

    .isi-dropdown {
        min-width: 160px;
        position: absolute;
    }

    .drop-down:hover ul.isi-dropdown {
        width: 200px;
        display: block;
        justify-content: center;
        margin-left: -100px;
    }


    main {
        display: block;
        width: 100%;
        height: auto;
        padding: 15px;
    }

    .pict-profile {
        width: 100%;
        height: 100%;
    }

    .main-page {
        width: 100%;
    }

    .container-top {
        display: block;
        height: auto;
        width: 100%;
        margin-left: 0px;
    }

    .intro {
        padding-left: 0px;
    }

    .aboutme {
        padding-left: 0px;
        height: auto;
    }

    .width-job {
        margin-left: 0px;
    }

    .bottom-profile {
        display: block;
        padding-left: 0px;
        height: auto;
    }

    .col-keterangan {
        padding-left: 0px;
    }

    .container-bottom {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
        height: auto;
        width: 100%;
    }

    .icon {
        width: 100px;
        height: 100px;
    }

    .icon-unair {
        width: 200px;
        height: 200px;
        margin-left: 55px;
    }

    .project {
        padding-left: 0px;
    }

    .education {
        display: block;
    }

    .bootcamp {
        display: block;
        height: auto;
    }

    .col-education {
        width: 100%;
        margin-left: 0px;
    }

    .university {
        display: block;
        padding-left: 0px;
    }

    .text-font {
        font-weight: 400;
    }

    .text-font2 {
        font-size: 12px;
    }

    .course-hacktiv8 {
        width: 100%;
        padding-right: 2px;
        gap: 2px;
    }

    .course-hack {
        font-size: 12px;
    }

    .main-content {
        width: 100%;
        height: auto;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    .stack {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .p-stack {
        width: auto;
        height: auto;
    }

    .p-course {
        width: auto;
    }



    /* ----- contact ------------ */

    .page {
        width: 100%;
    }

    .tab-contact {
        margin-left: -80px;
        width: 100%;
    }

    .contactus {
        max-width: 30px;
    }

    .contact-content {
        width: 100%;
    }


    /* --------------------------- */
    .container-left {
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .container-right {
        width: 100%;
        margin-bottom: 10px;
    }

    .project {
        display: block;
        margin-bottom: 10px;
        width: 100%;
        height: auto;
    }

    .p-project {
        width: 100%;
    }

    .text-font {
        font-size: 14px;
        line-height: 1.5;
        text-align: left;
    }


    .col-experience {
        width: 100%;
        height: auto;
        text-align: left;
    }

    .full-content {
        width: 100%;
    }

}